
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');




body {
font-family: 'Oswald' sans-serif;
margin: 0px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background-color: rgb(43, 43, 43);

}
.img1{
    margin-left: 20px;
}
.section1{
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}
h1{
    font-size: 170px;
    margin-bottom: 0px;
    color: white;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
    

}
.p1{
    color: white;
    font-size: 40px;
    margin-left: 50px;

  
}

button{
    background-color: rgb(255, 100, 10);
    color: white;
    height: 60px;
    width: 290px;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
}
.section2{
    background-color: rgb(255, 100, 10);
    padding-bottom: 40px ;
}
h2{
    margin-top: 0px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.titulo2{
    color: white;
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 80px;
   
}
.p2{
    color: white;
    font-size: 30px;
}
.letra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.bloqueimg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.descripcion{
    background-color: rgb(43, 43, 43);
}
.descripcion h3{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.descripcion p{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.section3{
    background-color: #2c2c2c;
    padding-bottom: 40px;
}

.letra2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.letra2 h3{
    color: white;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}
.letra2 p{
    color: white;
    font-size: 25px;
}
.cajitas{
    background-color: rgb(255, 100, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 45vh;

}
.ordencajitas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
    
   
    
}

.cajitas button{
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin-right: 40px;
    font-size: 20px;

}
.cajitas h3{
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
}

.cajitas p {
    color: white;
    font-size: 25px;
    
}


footer{
    background-color: rgb(255, 100, 10);
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
    
}

h3{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
p{
font-family: "Montserrat", sans-serif;
}




@media(max-width:1279px){
   .bloqueimg{
    display: flex;
    
   }
   .descripcion{
    width: 300px;
   }

   .descripcion img{
    width: 300px;
   }
   .descripcion p{
    font-size: 20px;
   }
   .cajitas{
    width: 280px;
   }

   .cajitas p {
    font-size: 20px;
   }
}

@media(max-width:920px){
    h1{
        font-size: 100px;
    }
    p{
        font-size: 35px;
    }
    .section2 .p2{
        font-size: 25px;
    }

    .descripcion{
        width: 220px;
    }
    .descripcion img{
        width: 220px;
    }
    .cajitas{
        width: 220px;
    }
    .cajitas button{
        width: 150px;
        height: 50px;
    }
    .cajitas p {
        font-size: 18px;
    }

    .descripcion p{
        font-size: 18px;
    }
    footer p{
        font-size: 20px;
    }
    .cajitas h3{
        font-size: 30px;
    }
   
    
}

@media(max-width:768px){
    h1{
        font-size: 60px;
    }
    p{
        font-size: 30px;
    }
    .section2 .p2{
        font-size: 30px;
        margin-left: 38px;
    }

   .bloqueimg{
    flex-wrap: wrap;
   }
   .descripcion{
    margin-top: 20px;
    width: 200px;
   }
   .descripcion img{
    width: 200px;
   }

   .section3 p {
    font-size: 30px;
    margin-left: 38px;
   }
   .ordencajitas{
    flex-wrap: wrap;
   }
   .cajitas{
    width: 200px;
    height: 400px;
    margin-top: 20px;
   }

   .cajitas img{
    width: 100px;
   }

   .cajitas p {
    font-size: 18px;
    margin-bottom: 5px;
   }

   .cajitas button{
    height: 40px;
   }
   footer p{
    font-size: 15px;
   }
   .section3{
    padding-bottom: 450px;
   }
}

@media(max-width:480px){

    .section3{
        padding-bottom: 900px;
    }

    h1{
        font-size: 50px;
        margin-top: 200px;
    }
    p{
        font-size: 20px;
    }
    button{
        width: 200px;
    }

    .titulo2{
        font-size: 50px;
    }
    .section2 .p2{
        font-size: 20px;
        margin-left: 38px;
     
    }
    .section3 h3{
        font-size: 50px;
    }

    .section3 p{
        font-size: 20px;
        margin-left: 38px;
    }

    .cajitas h3{
        font-size: 30px;
    }

    .cajitas p{
        font-size: 18px;
    }

}

